.App {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.Button {
  color: black;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: all 200ms ease-out;
  background: white;
  outline: none;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  color: white;
  background: red;
}